<div class="box">
    <div class="text-center w-100" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <img [src]="product.images[0]" alt="Product Image">
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="info">
                <ul class="list-unstyled" *ngIf="!loading">
                    <li><strong>Title : </strong> {{product.title}}</li>
                    <li><strong>Category : </strong>  {{product.category.name}}</li>
                    <li><strong>description : </strong>  {{product.description}}</li>
                    <li><strong>Price : </strong>  {{product.price}}</li>
                </ul>

            </div>

        </div>
    </div>
</div>